{{#if true}}
  <article class="card glow_border">
    <img
      src={{curriculum.large}}
      class="card_img glow_border"
      alt="imagen del curriculum"
      id="screen"
    />
    <h2>Name :
      {{curriculum.title}}
      {{curriculum.firstName}}
      {{curriculum.lastName}}</h2>
    <h2>Gender : {{curriculum.gender}}</h2>
    <ul><strong>Location</strong>
      <li>City : {{curriculum.city}} </li>
      <li>state : {{curriculum.state}}</li>
      <li>country : {{curriculum.country}}</li>
      <li>postcode : {{curriculum.postcode}}</li>
      <li>coordinate :
        latitud {{curriculum.latitude}} longitud{{curriculum.longitud}}
      <li>timezone :
          {{curriculum.timezone}}
          {{curriculum.timezoneDes}}</li>
      </ul>
    </ul>
    <h2>Email : {{curriculum.email}}</h2>
    <h2>Age : {{curriculum.age}}</h2>
    <h2>Date of Birth : {{curriculum.dateBirth}}</h2>
    <h2>{{curriculum.id}}</h2>
    
  </article>
  <article class=" title card_thumbnail glow_border">
   <a  herf="# "class="button view-details">View details
      <ul class="offDisplay">
        <li>Seed of code : {{curriculum.seed}}</li>
        <li>results : {{curriculum.results}}</li>
        <li>page of info: {{curriculum.page}}</li>
        <li>version : v.{{curriculum.version}}</li>
      </ul>
    </a>
  </article>
{{else}}
{{/if}}