{{#if true}}
  <article class="card">
    <img src={{curriculum.img}} alt="imagen del curriculum" />
    <h2>Name :
      {{curriculum.title}}
      {{curriculum.firstName}}
      {{curriculum.lastName}}</h2>
    <h2>Gender : {{curriculum.gender}}</h2>
    <h2>City : {{curriculum.city}}</h2>
    <h2>Email : {{curriculum.email}}</h2>
    <h2>Age : {{curriculum.age}}</h2>
    <h2>Id : {{curriculum.id}}</h2>
    <p></p>
  </article>
{{else}}
{{/if}}