{{#if true}}
  <article class="card">
    <img src={{curriculum.img}} alt="imagen del curriculum" />
    <h2>{{curriculum.title}}
      {{curriculum.firstName}}
      {{curriculum.lastName}}</h2>
    <p></p>
  </article>
{{else}}
{{/if}}