{{#if true}}
  <article class="card glow_border">
    <img
      src={{curriculum.large}}
      class="card_img glow_border"
      alt="imagen del curriculum"
      id="screen"
    />
    <h2>Name :
      {{curriculum.title}}
      {{curriculum.firstName}}
      {{curriculum.lastName}}</h2>
    <h2>Gender : {{curriculum.gender}}</h2>
    <h2>Email : {{curriculum.email}}</h2>
    <h2>Age : {{curriculum.age}}</h2>
    <h2>Date of Birth : {{curriculum.dateBirth}}</h2>
    <h2>{{curriculum.id}}</h2>
    <a href="#" class="button boton-location">Location
      </a>
    <ul class="display--off">
      <li>City : {{curriculum.city}} </li>
      <li>state : {{curriculum.state}}</li>
      <li>country : {{curriculum.country}}</li>
      <li>postcode : {{curriculum.postcode}}</li>
      <li>coordinate :
        latitud {{curriculum.latitude}} longitud{{curriculum.longitud}}
      <li>timezone :
          {{curriculum.timezone}}
          {{curriculum.timezoneDes}}</li>
      </ul>
      <br>
      <a href="#" class="button boton-credencial">user credencial
      </a>
        <ul class="display--off">
          <li>uuid : {{curriculum.uuid}}</li>
          <li>username : {{curriculum.username}}</li>
          <li>password : {{curriculum.password}}</li>
          <li>salt : {{curriculum.salt}}</li>
          <li>md5 : {{curriculum.md5}}</li>
          <li>sha1 : {{curriculum.sha1}}</li>
          <li>sha256 : {{curriculum.sha256}}</li>
        </ul>
      <br>
      <a href="#" class="button boton-resgistered">resgistered
      </a>
        <ul class="display--off">
          <li>dischard date : {{curriculum.date}}</li>
          <li>time of system : {{curriculum.ageResg}}</li>
          </ul>
      <h4>phone : {{curriculum.phone}}</h4>
      <h4>cell : {{curriculum.cell}}</h4>
    
    
  </article>
  <article class=" title card_thumbnail">
    <!-- Cambiar a verde -->
   <a  herf="# "class="button boton-info">View details
    </a>
      <ul class="display--off">
        <li>Seed code : {{curriculum.seed}}</li>
        <li>results : {{curriculum.results}}</li>
        <li>page of info: {{curriculum.page}}</li>
        <li>version : v.{{curriculum.version}}</li>
      </ul>
  </article>
{{else}}
{{/if}}